:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    position: relative;
}

.attribution { 
    font-size: 11px; text-align: center; 
    
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body .modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    transition: all .3s linear;
}

body.menu-open .modal {
    display: initial;
    opacity: 1;
}

header {
    min-height: 75px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.3rem 1rem;
}

.lateral-menu-btn {
    position: fixed;
    right: 1rem;
    top: 1.4rem;
    z-index: 2;
    cursor: pointer;
}

.close-menu {
    display: none;
}

body.menu-open .close-menu {
    display: initial;
}

body.menu-open .open-menu {
    display: none;
}

/* nav */

.lateral-menu {
    width: 65vw;
    height: 100vh;
    color: var(--gray);
    background-color: var(--white);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: left;
    transition: all .4s;
    display: flex;
    transform: translateX(100%);
}

.lateral-menu-active {
    transform: translateX(0%);
}

/* nav itens */
.lateral-menu__itens {
    margin-top: 4.5rem;
}

.menu-item {
    margin: 1rem 0 1.4rem 20px;
}

.item__dropdown a{
    margin-left: 20px;
}

.item__dropdown {
    margin-bottom: 2rem;
}

.item__dropdown span{
    margin-right: 10px; 
}

.dropdown__itens {
    margin: 1.5rem 0 1.8rem 2.8rem;
}

.dropdown__itens li {
    margin-bottom: 1rem;
}

.dropdown__itens img {
    margin-right: 10px;
}

.dropdown__itens {
    display: none;
}

.dropdown-active .dropdown__itens {
    display: block;
}

.item__dropdown .arrow-up {
    display: none;
}

.dropdown-active .arrow-down {
    display: none;
}

.dropdown-active .arrow-up {
    display: initial;
}

.registration {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
}

.registration button {
    margin: 0.3rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0;
    width: 200px;
}

.registration button:first-child {
    border: none;
}

/* main section */

.main-image {
    width: 100%;
    margin-bottom: 1.5rem;
}

.info {
    margin: 2rem 1rem;
    line-height: 1.5rem;
}

.main-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-info {
    color: var(--gray);
    margin-bottom: 20px;
}

.btn-main {
    color: var(--white);
    background-color: var(--black);
    padding: 15px 20px;
    border-radius: 13px;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 1.3rem 4rem 1.3rem;
}

.logos img {
    width: 60px;
}

/* footer */

footer {
    margin-bottom: 15px;
}